body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #FEFEFE;
    line-height: 1.8;
    background-color: #181616;
    
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('images/background.jpg');
    min-height: 100%;
}

/* Second image (Analyze) */
.bgimg-2 {
    background-image: url('images/analyze.jpg');
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('images/contact.jpg');
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

li a {
    color: white;
}
/* Customize Button Look*/
input[type="button"], input[type="submit"], button
{
     background-color: white;
     background-image: url(image/build_button.png);
     background-position: center center;
     background-repeat: no-repeat;
     border-radius: 15px;
     padding: 15px 32px;
     display: inline-block;
     font-size: 20px;
     width: 250px;
     transition: all 0.5s;
     cursor: pointer;
}
input[type="button"], input[type="submit"], button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

input[type="button"], input[type="submit"], button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

input[type="button"], input[type="submit"], button:hover span {
  padding-right: 15px;
}

input[type="button"], input[type="submit"], button:hover span:after {
  opacity: 1;
  right: 0;
}


